/* .w{
    width: 7.5rem;
} */
header{
    /* width: 7.5rem; */
    height: 0.4rem;
    line-height: 0.4rem;
    display: flex;
}
header a:nth-child(1){
    width: 1.8rem;
    height: 0.4rem;
    flex-shrink: 0;
}
header a:nth-child(1) img{
    width: 100%;
    height: 100%;
}
header a:nth-child(1){
    margin-right: 4.8rem;
}
header a:nth-child(2){
    display: inline-block;
    line-height: 0.4rem;
    width: 0.3rem;
}
header a:nth-child(2) img{
    width: 0.3rem;
    display: inline-block;
    vertical-align: middle;
}
header span:nth-child(3){
    display: inline-block;
    border-left: 1px solid #0470B8;
    width: 0;
    height: 0.3rem;
    margin-top: 0.05rem;
    vertical-align: middle;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
header a:nth-child(4){
    width: 0.3rem;
    height: 0.4rem;
}
header a:nth-child(4) img{
    width: 0.3rem;
    display: inline-block;
    margin-top: 0.1rem;
}
/* 搜索框 */
.search{
    width: 100%;
    height: 0.5rem;
    background-color: #000000;
    opacity: .6;
    padding-top: 0.05rem;
    position: absolute;
    top: 0.5rem;
    z-index: 100000;
}
div.yinc{
    display: none;
}
.search .one{
    width: 96%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin:0 auto;
    border: 1px solid #ffffff;
    vertical-align: middle;
    overflow: hidden;
}
.search .one input{
    background-color: #000000;
    font-size: 16px;
    padding-left: 0.1rem;
    display: inline-block;
    vertical-align: middle;
    width: 6.8rem;
    height: 100%;
}
.search .one img{
    display: inline-block;
    cursor: pointer;
    width: 0.25rem;
    height: 0.25rem;
    vertical-align: middle;
}
/* 主体部分开始 */
body{

}
.main{
    margin-top: 0.1rem;
}
.main .contain{
    width: 100%;
}
.main .contain .cont{
    width: 100%;
    height: 2.05rem;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #BFBFBF;
}
.main .contain .cont>a{
    width: 3rem;
    height: 1.85rem;
    margin-top: 0.1rem;
    flex-shrink: 0;
    margin-right: 0.2rem;
}
.main .contain .cont>a img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.main .contain .cont ul{
    margin-top: 0.1rem;
    width: 4rem;
    height: 1.85rem;
    overflow: hidden;
}
.main .contain .cont ul li:nth-child(1){
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.main .contain .cont ul li:nth-child(1) a{
    font-size: 16px;
    font-weight: bold;
}
.main .contain .cont ul li:nth-child(2){
    text-indent: 0.4rem;
    width: 4rem;
    height: 0.9rem;
    overflow: hidden;
}
.main .contain .cont ul li:nth-child(2) a{
    font-size: 12px;
}
.main .contain .cont ul li:nth-child(3) span{
    display: inline-block;
    /* width: 0.5rem; */
    /* height: 0.3rem;
    line-height: 0.25rem; */
    border: 1px solid #c30d23;
    text-align: center;
    border-radius: 0.05rem;
    font-size: 12px;
    overflow: hidden;
    margin-top: 0.05rem;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}
.main .side{
    width: 0.8rem;
    position: fixed;
    top: 7rem;
}
.main .side .Navigation{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0470B8;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.05rem;
    margin-bottom: 0.15rem;
    overflow: hidden;
}
.main .side .Navigation a:nth-child(1){
    display: block;
    width: 0.45rem;
    height: 0.45rem;
    margin: 0 auto;
    margin-bottom: 0.03rem;
}
.main .side .Navigation a:nth-child(1) img{
    display: block;
    width: 100%;
    height: 100%;
}
.main .side .Navigation a:nth-child(2){
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #ffffff;
    font-size: 12px;
    vertical-align: top;
}

.main .side .home{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0470B8;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.05rem;
    margin-bottom: 0.15rem;
    overflow: hidden;
}
.main .side .home a:nth-child(1){
    display: block;
    width: 0.45rem;
    height: 0.45rem;
    margin: 0 auto;
    margin-bottom: 0.03rem;
}
.main .side .home a:nth-child(1) img{
    display: block;
    width: 100%;
    height: 100%;
}
.main .side .home a:nth-child(2){
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #ffffff;
    font-size: 12px;
    vertical-align: top;

}

.main .side .top{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0470B8;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.05rem;
    margin-bottom: 0.15rem;
    overflow: hidden;
}
.main .side .top a:nth-child(1){
    display: block;
    width: 0.45rem;
    height: 0.45rem;
    margin: 0 auto;
    margin-bottom: 0.03rem;
}
.main .side .top a:nth-child(1) img{
    display: block;
    width: 100%;
    height: 100%;
}
.main .side .top a:nth-child(2){
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #ffffff;
    font-size: 12px;
    vertical-align: top;
}





footer{
    padding-top: 0.5rem;
    text-align: center;
}
footer p:nth-child(1) span{
    font-size: 16px;
}
footer p:nth-child(2) span{
    font-size: 16px;
}
